# Banco de Dados
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db

# Biometria
FACE_RECOGNITION_THRESHOLD=0.60
FACE_DETECTION_CONF_THRESHOLD=0.50
FACE_BIOMETRICS_MOCK=false

# Token do túnel Cloudflare
TUNNEL_TOKEN=seu_token_de_tunnel_aqui
